nav,
header,
footer{
    display: block;
}

body {
    background-color: #282828;
    line-height: 1;
    margin: 0;
    text-decoration: none;
}

label {
    font-size: 35px;
    font-weight: 600;
    color: #00ff66;
}

article p {
    font-size: 35px;
    padding: 20px;
    line-height: 1.2;   
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    line-height: 1.2
}

html {
    font-family: 'Share Tech Mono', monospace;
    color:#ffb000;
}

.boxText {
    color: black;
    display: block;
    text-align: left;
}

.boxList {
    color: black;
    list-style: none;
    text-align: left;
}


img {
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: 1;
    margin: auto;
    display: block;
}

.borderImg {
    border-radius: 1px;
    width: 40px;
    height: 40px;
    border: 1px solid #00ff66;
    padding: 5px;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";  
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 88.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #888;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

 ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #fff;     
}

ul.topnav li a:hover {
    background-color: #000;
    color: #ffdc00;
}

ul.topnav li.dropdownIcon {
    display: none;
}

#dropdownClick {
    
}

/*########################### Custom Styles ################*/



div.box {
    text-align: center;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    border-radius: 0px;
    background-color: #33FF33 ;

}

div.bitRateIcon img {
    display: block;
    margin: auto;
    box-shadow: -2px -2px 5px 2px rgb(0,0,0,.15),
        2px 2px 4px 2px rgba(0,0,0,1);
    /*horiz vert blur spread rgb(shaddow, background, box, opacity)*/
}

/*button {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    background-color: #0069ff;
    padding: 15px 60px;
    display: block;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
}*/


div.details{
    padding-left: 100px;
    align-content: left;
    text-align: left;
}


button.learnMore {
    display: block;
    margin: auto;
}

div.icon {
    width: 100%:
}

div.leftSide-col {
    margin-left: 30%;   
}

div.rightSide-col {
    margin-left: 10%;
}

h1.large {
    text-decoration: none;
    color: #ffbb00;
    font-size: 40px;
    margin: 0;
    line-height: 70px;
    
}

h3.about-me {
    line-height: 1.2;
}

.color-text {
    font-size: 12px;
}

h3.amber {
    color: #ffbb00;
}

h3.lt-amber {
    color: #ffcc00
}

h3.green1 {
    color: #33ff00;
}

h3.appleii {
    color: #33ff33;
}

h3.green2 {
    color: #00ff33;
}

h3.appleiic {
    color: #66ff66;
}

h3.green3 {
    color: #00ff66;
}

h1.section2Header {
    font-size: 15px;
    text-align: center;
}

h5.background-color {
    color: #fff;
}

ul.boxList {
    padding-inline-start: 0px;
}

form h2 {
    color: #fff;
}

/*input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}*/

footer.footsy {
    background-color: #888888;
    padding-left: 10%;
}

footer.footsy h1 {
    display: block;
    color: #fff;
    font-size: 21px;   
}

footer.footsy ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footsy ul li {
    color: #fff;
    
    line-height: 1.5;
}

a:-webkit-any-link {
    color: #00ff66;
    text-decoration: none;
    cursor: pointer;
}
/*############################ Mobile #####################*/

@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive {
        position: relative;
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    
    article p {
        font-size: 25px;
    }
    
    .col-6,
    .col-4,
    .col-7,
    .col-5 {
        width: 100%;
        margin: 0;
    }
    
    div.mobileStack {
        width: 50%;
        display: block;
    }
    
    div.box {
        padding: 5px;
        display: block;
    }
    
    div.leftSide-col,
    div.rightSide-col,
    main {
        margin: 15px;
    }
    
/*    input[type="text"]{
        width: 350px;
    }*/
    
    .tuneContainer iframe {
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
}

